//base

html,
body {
  min-height: 100%;
}
body {
  font-family: Averta;
  font-size: 18px;
  font-weight: 400;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__sub {
    flex: 1 1 auto;
    background: url('../../img/main-screen/back-fix.png') top center no-repeat;

    @media screen and (max-width: $md-6) {
      background: url('../../img/main-screen/back-fix.png') top center/100% no-repeat;
    }
    @media screen and (max-width: $md-4) {
      background: url('../../img/main-screen/back-fix.png') top center/150% no-repeat;
    }
    @media screen and (max-width: $md-3) {
      background: url('../../img/main-screen/back-fix.png') top center/170% no-repeat;
    }
    @media screen and (max-width: $md-2) {
      background: url('../../img/main-screen/back-mobile.png') top center/115% no-repeat;
    }
  }
}

._container {
  max-width: $main-container-size;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
