//base

html,
body {
  min-height: 100%;
}
body {
  font-family: Averta;
  font-size: 18px;
  font-weight: 400;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  &::before {
    content: '';
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: url('../../img/main-screen/back-fix.png') no-repeat;
  }
}

._container {
  max-width: $main-container-size;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}
