//base sizes
$main-container-size: 1280px;

//colors
$color-red: #ff3471;
$color-blue: #2d036a;
$color-white: #ffffff;
$color-grey: #5d5a63;

//brakepoints
$md-1: 320px;
$md-2: 480px;
$md-3: 768px;
$md-4: 1024px;
$md-5: 1200px;
$md-6: 1920px;
//mixins

//button with border
@mixin button-style(
  $font-color,
  $background-color,
  $border-color,
  $font-color-active,
  $background-color-active,
  $border-color-active
) {
  padding: 19px 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.03em;
  color: $font-color;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: 40px;
  background: $background-color;
  transition: all 0.3s ease 0s;

  &:active {
    color: $font-color-active;
    background: $background-color-active;
    border-color: $border-color-active;
  }
  @media screen and (max-width: $md-4) {
    font-size: 17px;
  }
  @media screen and (max-width: $md-3) {
    font-size: 16px;
  }
}

//button no border
@mixin button-noBorder-style($font-color, $background-color, $font-color-active, $background-color-active) {
  padding: 19px 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.03em;
  color: $font-color;
  text-align: center;

  border-radius: 40px;
  background: $background-color;
  transition: all 0.3s ease 0s;

  &:active {
    color: $font-color-active;
    background: $background-color-active;
  }
  @media screen and (max-width: $md-4) {
    font-size: 17px;
  }
  @media screen and (max-width: $md-3) {
    font-size: 16px;
  }
  @media screen and (max-width: $md-2) {
    font-size: 15px;
  }
}

//border-gradient transparent-background button
@mixin button-style-transparent($font-color, $border-color, $font-color-active, $gradient-active) {
  padding: 19px 34px;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.03em;
  color: $font-color;

  border: 2px solid $border-color;
  border-radius: 40px;
  background-color: transparent;
  text-align: center;
  position: relative;
  transition: all 0.2s ease 0s;

  &:active {
    border-color: transparent;
    color: $font-color-active;
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;

      border-radius: 40px;
      border: 2.4px solid transparent;
      background: $gradient-active border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
  }
  @media screen and (max-width: $md-4) {
    font-size: 17px;
  }
  @media screen and (max-width: $md-3) {
    font-size: 16px;
  }
  @media screen and (max-width: $md-2) {
    font-size: 15px;
  }
}
